body, p, h1, h2, input, textarea{
    margin: 0;
    font-family: Poppins;
}

h2{
    font-size: 30px;
}

#navbar{
    background-color: black;
    color: white;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block; /*Vai colocar um ao lado do outro*/
}

#navbar h2{
    margin: 0px;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    height: 40px;
    transform: rotate();
    position: absolute; /*Fixa a posição, para mexer o top*/
    top: 10px;

}

/*Mexendo com a lista*/
#navbar nav{
    float: right; /*Leva para direita*/
}
#navbar ul {
    margin-top: 22px;
}

#navbar li{
    margin: 0 15px; /*Espaço dos itens da lista*/
}

/*MExendo nos links da header*/
#navbar-list li a {
    text-decoration: none;
    color: #FFFFFF;
}

#navbar-list li a:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
    color: #FFFFFF;
}


/*Banner*/
#main-banner{
    height: 70vh; /*Se comporta de acordo com a altura do monitor*/
    background-image: url(../img/Imagem\ de\ fundo.jpg) ;
    background-size: cover;
    padding-top: 15vh; /*Colocar um pouco para baixo*/

}

/*Conteudo dentro do Banner*/
.banner-info{
 width: 40%;
 margin-right: auto;
 margin-left: auto;
 /*background-color: black;*/
 text-align: center;
 color:#FFFFFF;
}

.banner-info img{
    height: 120px;
    border-radius: 50%; /*imagem com borda*/
    margin-top: 35px;
    margin-bottom: 30px;
}

.banner-info p {
    background-color: black;
    font-weight: bold; /*Deixar fonte em negrito*/
    width: 400px;
    margin-right: auto;
    margin-left: auto; 
    padding: 15px;
    border-radius: 20px;

}

/*about*/
#Sobre-mim{
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    padding-top: 50px;
    height: 350px;
   
  
}

#Sobre-mim h2{
    margin-bottom: 20px;
    /*padding-bottom: 30px; */

}

#Sobre-mim p{
    /*padding-bottom: 160px;*/
   /*max-width: 650px; códigos do professor, não utilizado.
    *margin-right: auto;
    *margin-left: auto;
    */
    line-height: 30px; /*Espaçamento entre as linhas*/
}

/*Parte dos Skills*/
#skills{
    margin-top: -100px;
    background-color: #FFFFFF;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #DDD; /*deixar borda cinza*/ 
    border-radius: 10px;  
}
/*Ajustar elementos dentro do container*/
#skills .container{ /*referente a linha 57 do html*/
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.skills-container{
    flex: 1 1 1 ; /*Para preencher o flex*/
    text-align: center;
    padding: 60px 25px;
}

.central{
border-left:  1px solid #ccc;
border-right: 1px solid #ccc;
}

/*Ajustar o h3 da seção*/
.skills-container h3{
    color: #c83737;
    font-size: 24px;
}
.skills-container img{
    height: 100px;
    padding: 15px;
    margin-bottom: 25px;
    /*Efeito da borda*/
    border-top:  1px solid #c83737 ; 
    border-left:  1px solid #c83737 ; 
    border-bottom:  4px solid #c83737 ; 
    border-right:  4px solid #c83737 ; 
}

.skills-container .subtitle{
    font-weight: bold;
    color:#c83737;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p {
    line-height: 25px ;
}